<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV-Planning</title>
    <script src="{{ url_for('static', filename='js/first_input.js') }}" defer></script>
</head>
<body>
    <p> Welcome to the contacts page!</p>
    <div id="price-set">
        <input type="text" placeholder="insert data" id="pirma_value">
        <button onclick="siusti_pirma()">siusti</button>
    </div>
    
</body>
</html>